.git
.github
.next
.npm-cache
node_modules

.env*
!.env.example
articles
data
draft
access

coverage
*.log
*.sqlite*
*.db*
*.tsbuildinfo
Dockerfile*
compose*.yml
compose*.yaml
README*.md
CONTRIBUTING.md
CHANGELOG.md
